* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	min-height: 700px;
	background: #f5f5f5;
}

nav {
	background: #e3f2fd;
}

footer {
	text-align: center;
	background: #e3f2fd;
}

footer a {
	font-size: 14px;
	color: #000;
}

.btn-close:focus {
    box-shadow: none;
    outline: none;
}

#createProfile > .container {
	display: flex;
}

.offset-md-2 {
	margin-left: 0;
}